# Linear Regression from scratch

In [9]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [10]:
df= pd.read_csv("Student_Performance.csv")
df.sample(5)

      Hours Studied  ...  Performance Index
8569              9  ...               89.0
6389              8  ...               60.0
8497              1  ...               55.0
6712              2  ...               27.0
1694              3  ...               75.0

[5 rows x 6 columns]

In [11]:
df["Extracurricular Activities"] = df["Extracurricular Activities"].map({"No":0 , "Yes":1})
df.head()

   Hours Studied  ...  Performance Index
0              7  ...               91.0
1              4  ...               65.0
2              8  ...               45.0
3              5  ...               36.0
4              7  ...               66.0

[5 rows x 6 columns]

In [12]:
df.isnull().sum()

Hours Studied                       0
Previous Scores                     0
Extracurricular Activities          0
Sleep Hours                         0
Sample Question Papers Practiced    0
Performance Index                   0
dtype: int64

In [21]:
x = df.drop("Performance Index" , axis=1)
y = df["Performance Index"]

In [22]:
x

      Hours Studied  ...  Sample Question Papers Practiced
0                 7  ...                                 1
1                 4  ...                                 2
2                 8  ...                                 2
3                 5  ...                                 2
4                 7  ...                                 5
...             ...  ...                               ...
9995              1  ...                                 2
9996              7  ...                                 5
9997              6  ...                                 5
9998              9  ...                                 0
9999              7  ...                                 1

[10000 rows x 5 columns]

In [23]:
y

0       91.0
1       65.0
2       45.0
3       36.0
4       66.0
        ...
9995    23.0
9996    58.0
9997    74.0
9998    95.0
9999    64.0
Name: Performance Index, Length: 10000, dtype: float64

In [40]:
X_train, X_test , y_train , y_test = train_test_split(x,y, test_size=0.2, random_state=1)

In [41]:
class scratchLR:
    
    def __init__(self):
        self.coef_ = None
        self.intercept_ = None
        
    def fit(self,X_train,y_train):
        X_train = np.insert(X_train,0,1,axis=1)
        
        # calcuate the coeffs
        betas = np.linalg.inv(np.dot(X_train.T,X_train)).dot(X_train.T).dot(y_train)
        self.intercept_ = betas[0]
        self.coef_ = betas[1:]
    
    def predict(self,X_test):
        y_pred = np.dot(X_test,self.coef_) + self.intercept_
        return y_pred

In [42]:
lr = scratchLR()

In [43]:
lr.fit(X_train , y_train)

In [44]:
y_pred = lr.predict(X_test)

In [45]:
from sklearn.metrics import r2_score

In [46]:
r2_score(y_test , y_pred)

0.9884855999665683

In [47]:
lr.coef_

array([2.85568051, 1.01898196, 0.59806307, 0.47657459, 0.18830214])

In [48]:
lr.intercept_

-34.05789385431109